#Firebase Config
EXPO_PUBLIC_API_KEY=AIzaSyD4rIxR3Kba6wSEoxDBi1BmmRDbQmMsfME
EXPO_PUBLIC_AUTH_DOMAIN=sendyquiz.firebaseapp.com
EXPO_PUBLIC_PROJECT_ID=sendyquiz
EXPO_PUBLIC_STORAGE_BUCKET=sendyquiz.firebasestorage.app
EXPO_PUBLIC_MESSAGING_SENDER_ID=578193115625
EXPO_PUBLIC_APP_ID=1:578193115625:web:18abfd77cbf67c9a75a378
EXPO_PUBLIC_MEASUREMENT_ID=G-ELW2TEPL4B

#Expo Config
EXPO_PUBLIC_EAS_PROJECT_ID=5318ebc1-b567-4cf6-9531-3cef819c0696